.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html {
  box-sizing: border-box;

}
main article p span {
  color: #53ff64;
  background-color: rgb(0, 0, 0);
}

a div {
  background-color: rgb(0, 0, 0);
  width: 120px;
  height: 28px;
  position: relative;
  padding-top: 6px;
  font-size: 15px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  color: #53ff64;
}

#so {
  margin-top: px;
  padding-top: 40px;
  padding-left: 47%;
  box-sizing: border-box;
  width: 549px;
  height: 600px;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}
.github,
.youtube,
.thread,
.instagram,
.facebook,
.coffee,
.spotify,
.coffee,
.x,
.email,
.patreon {
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  margin-right: 20%;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000000;
}

.youtube a:hover {
  color: #ff0000;
}
.github a:hover {
  color: #000000;
}
.email a:hover {
  color: #7878ff;
}
.x a:hover {
  color: #000000;
}
.patreon a:hover {
  color: hsl(0, 0%, 0%);
}
.instagram a:hover {
  color: hsl(7, 100%, 67%);
}
.facebook a:hover {
  color: hsl(212, 100%, 50%);
}
.thread a:hover {
  color: hsl(0, 0%, 0%);
}
.spotify a:hover {
  color: #1ed861;
}



header {
  width: 80%;
  height: 20%;
}
header nav span a {
  display: block;
  width: 100px;
  height: 20px;
  background-color: #ff0000;
  padding: 4px;
  text-align: center;
  border-radius: 0.45rem;
  color: #000000;
}
header nav span a:visited{
  color: bisque;
  background-color: #000000;
}
header nav span a:hover {
  color: #ff0000;
  background-color: #000000;
  animation: 0.8s ease-in;

}
header nav span a:active{
  color: #1ed861;
animation: linear 3s ease-in;
}

@keyframes linkAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
a {
  display: inline-block;
  text-decoration: none;
  
  animation: linkAnimation 1s ease-in-out ;
  
  
}